*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family:"Segoe UI",sans-serif;
}

#desktop{

    width:100%;
    height:100vh;

    background:url("../images/win11_desk.jpg")
    center center/cover no-repeat;

    position:relative;
}

/* ICONO */

#fortnite-icon{

    width:90px;

    padding:20px;

    text-align:center;

    cursor:pointer;

    color:white;
}

#fortnite-icon img{

    width:64px;
    height:64px;

    object-fit:contain;
}

#fortnite-icon span{

    display:block;

    margin-top:5px;

    text-shadow:0 0 5px black;
}

/* TASKBAR */

#taskbar{

    position:absolute;

    bottom:0;

    width:100%;
    height:56px;

    background:rgba(20,20,20,.45);

    backdrop-filter:blur(20px);

    display:flex;

    justify-content:center;

    align-items:center;
}

#taskbar-center{

    display:flex;

    gap:10px;
}

.task-icon{

    width:40px;
    height:40px;

    display:flex;

    justify-content:center;
    align-items:center;

    border-radius:10px;

    background:rgba(255,255,255,.08);

    color:white;
}

#clock{

    position:absolute;

    right:15px;

    text-align:right;

    color:white;

    font-size:12px;
}
