
/* PANEL */
#settings-panel {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 50;
}

#settings-panel.active {
  opacity: 1;
  pointer-events: all;
}

/* CAJA */
.settings-box {
  width: 700px;
  height: 400px;
  display: flex;

  background: #1e1f22;
  border-radius: 12px;
  overflow: hidden;

  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* SIDEBAR */
.settings-sidebar {
  width: 200px;
  background: #2b2d31;
  padding: 15px;
}

.settings-sidebar h3 {
  margin-bottom: 10px;
}

.settings-sidebar button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background: none;
  border: none;
  color: white;
  text-align: left;
  cursor: pointer;
}

.settings-sidebar button:hover {
  background: #3a3c41;
}

/* CONTENT */
.settings-content {
  flex: 1;
  padding: 20px;
}

.tab, .subtab {
  display: none;
}

.tab.active {
  display: block;
}

.subtab.active {
  display: block;
}

/* OPCIONES */
.option {
  margin-top: 15px;
  cursor: pointer;
  color: #5865f2;
}

.option:hover {
  text-decoration: underline;
}

/* BOTONES */
.perf-btn {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;

  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.high {
  background: #5865f2;
  color: white;
}

.low {
  background: #1db954;
  color: white;
}

